body {
    background-color: grey;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}